<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_snaptake_logo_vector"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_snaptake_logo_vector"
        android:supportsRtl="true"
        android:theme="@style/Theme.Camera"
        tools:targetApi="31">

        <!-- Snapchat Camera Kit Staging Credentials -->
        <meta-data
            android:name="com.snap.camerakit.app.id"
            android:value="4b18b947-fa1f-4d01-9d9d-884dd9c01b10" />
        <meta-data
            android:name="com.snap.camerakit.api.token"
            android:value="eyJhbGciOiJIUzI1NiIsImtpZCI6IkNhbnZhc1MyU0hNQUNQcm9kIiwidHlwIjoiSldUIn0.eyJhdWQiOiJjYW52YXMtY2FudmFzYXBpIiwiaXNzIjoiY2FudmFzLXMyc3Rva2VuIiwibmJmIjoxNzg0MTk0NDc3LCJzdWIiOiI0YjE4Yjk0Ny1mYTFmLTRkMDEtOWQ5ZC04ODRkZDljMDFiMTB-U1RBR0lOR35kOGQ3M2NhNS0zMDJkLTQyYWMtYjBhMy0wY2FkMDgxNTE4ZDMifQ.8Gj9OxfiOyBZ-T-tv5QnkUX2UWhm0Ji5wHwlqUNV0Zw" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>